<div class="wrap">
    <div class="card-container">
      <div class="top-card"></div>
      <div class="top-card2"></div>
      <div class="circle"></div>
      <img class="image-class" src="assets/images/Personal_Img.jpg">
      <p class="title-text">{{student.name}}</p>
      <p class="info-text mb-5">{{student.email}}</p>
      <p class="desc-text">{{student.age}} years old</p>
      <p class="desc-text">Address: {{student.address}}</p>
      <p class="desc-text">Phone Number: {{student.age}} years old</p>
    </div>
  </div>